# API Backend URL (Development)
API_URL=http://localhost:8080/api

# API Backend URL (Production Render)
PROD_API_URL=https://REMPLACE_PAR_URL_BACKEND_RENDER.onrender.com/api

#git commit -m "ci(setup): add frontend pipeline"

